@import "../variables";
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

footer {
  font-size: 1rem;
  margin-top: 80px;
  background-color: $medium-green;
  min-height: 50px;
  color: $light-beige;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  a {
    color: $light-gray;
    &:hover {
      color: $light-gray;

    }
    i {
      color: $light-gray;
      &:hover {
        color: $light-gray;
      }
    }
  }
  .contact-icons {
    a {
      margin-left: 15px;
    }
  }
  .legal-links {
    a:not(:first-of-type) {
      margin-left: 15px;
    }
  }
  @media screen and (max-width: 1087px) {
    .is-pulled-left {
      text-align: center;
      width: 100%;
    }
    .contact-icons, .legal-links {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}
