@import "../variables";
:root {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.75rem;
}

iframe {
  width: 100%;
  height: 100%;
}

.container {
  @media screen and (max-width: 1087px) {
    max-width: 90%;
    width: 90%;
  }
 }
.bg-green {
  background-color: $dark-green;
  color: $light-beige;
  h1, h2, h3, h4, h5, h6 {
    color: $light-beige;
  }

  .btn-default:hover {
    background-color: $light-beige;
  }
}

.btn-default {
  border: 2px solid black;
  border-radius: 50rem;
  font-size: 2rem;
  padding: 0.75rem 2rem;
  font-weight: bold;
  margin: .5rem 0;

  transition: transform .5s ease;
  &:hover {
    transform: scale(1.05);
  }
}
