{% extends 'base.html.twig' %}

{% block main %}
    <section class="container-fluid has-text-centered">
        <!--
        <div class="columns">
            <div class="column cta">
                Du bist nicht allein! Engagiere dich auch als Erwachsener in über
                <h1 class="ff-group-count">{{ amount }}</h1>
                For-Future-Gruppen deutschlandweit
            </div>
        </div>
        -->
        <div class="columns bg-green">
            <div class="column cta">
                Engagiere dich in einer der zahlreichen for-Future-Gruppen! Hier findest
                du eine Übersicht der Erwachseneninitiativen, die sich hinter die
                Fridays for Future Bewegung stellen und diese unterstützen. Werde aktiv
                und setze dich für einen echten Klimaschutz ein!
                <!--
                <p class="content">
                    <a href="#organisations"><button class="btn-default">Zur Gruppenliste</button></a>
                </p>
                Du kannst deine Gruppe nicht finden?
                <p class="content" id="signup">
                    <a href="mailto:forfuture@developersforfuture.org?subject=ForFuture%20Anmeldung&body=Hallo%2C%0Awir%20w%C3%BCrden%20gerne%20in%20der%20Liste%20stehen%21%20Hier%20unsere%20Daten%3A%0A%0AName%3A%20%0ALink%20zur%20Homepage%3A%0ALink%20zu%20unserem%20Logo%3A%0AKurze%20Beschreibung%20%28%3C250%20Zeichen%29%3A%20%0A%0ALiebe%20Gr%C3%BC%C3%9Fe%2C%0A"><button class="btn-default">Zur Anmeldung</button> </a>
                </p>
                -->
            </div>
        </div>
        <div class="columns is-multiline org-icons" id="organisations">
            {% for organisation in organisations %}
                <div class="column is-one-fifth-desktop is-one-third-tablet">
                    <figure class="image is-128x128{% if organisation.description is not empty %} tooltip is-tooltip-multiline{% endif %} is-inline-block"
                            {% if organisation.description is not empty %}data-tooltip="{{ organisation.description }}"{% endif %}>
                        <a href="{{ organisation.link|raw }}" target="_blank">
                            {% if organisation.logoURL is not empty %}
                                <img src="{{ organisation.logoURL|raw }}" title="{{ organisation.name }}"/>
                            {% else %}
                                <div class="default-image">
                                    <span class="default-image-title">{{ organisation.name }}</span>
                                </div>
                            {% endif %}
                        </a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
