{% extends 'base.html.twig' %}

{% block main %}
    <section class="container">
        <div class="columns features">
            <div class="column is-12">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-note"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Impressum</h4>
                                <div></div>
                                <div><span style="color: #070707;">Angaben gemäß § 5 TMG</span></div>
                                <div><span style="color: #070707;"> </span></div>
                                <div><span style="color: #070707;">Together for Future e.V. </span></div>
                                <div><span style="color: #070707;">Gaudystraße 14 </span></div>
                                <div><span style="color: #070707;">10437 Berlin</span></div>
                            <div><span style="color: #070707;"> </span></div>
                            <div><span style="color: #070707;">Vertreten durch: </span></div>
                            <div><span style="color: #070707;">Herr Torben Greve (erster Vorstand), Frau Anna Schwanhäußer (stellvertretender Vorstand)</span></div>
                            <div><span style="color: #070707;"><b> </b></span></div>
                            <div><span style="color: #070707;"><b>Kontakt</b></span></div>
                            <div><span style="color: #070707;">E-Mail: kontakt@togetherforfuture.net</span></div>
                            <div><span style="color: #070707;">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</span>
                            </div>
                            <div><span style="color: #070707;"> </span></div>
                            <div><span style="color: #070707;"><b>Haftung für Inhalte</b></span></div>
                            <div><span style="color: #070707;">Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</span>
                            </div>
                            <div><span style="color: #070707;">Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</span>
                            </div>
                            <div><span style="color: #070707;"><b> </b></span></div>
                            <div><span style="color: #070707;"><b>Haftung für Links</b></span></div>
                            <div><span style="color: #070707;">Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</span>
                            </div>
                            <div><span style="color: #070707;">Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer </span>Rechtsverletzung
                                nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                            </div>
                            <div><b> </b></div>
                            <div><span style="color: #070707;"><b>Urheberrecht</b></span></div>
                            <div><span style="color: #070707;">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</span>
                            </div>
                            <div><span style="color: #070707;">Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
