{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="colums bg-green">
            <div class="column">
                <h1>Hier kannst du deine Gruppe registrieren! (TBD)</h1>
            </div>
        </div>
        <div class="columns is-multiline">
            {% for organisation in organisations %}
                <div class="column is-one-fifth">
                    <figure class="image is-128x128 tooltip is-tooltip-multiline" data-tooltip="{{ organisation.description }}">
                        <a href="{{ organisation.link|raw }}" target="_blank">
                            <img src="{{ organisation.logoURL|raw }}" title="{{ organisation.name }}"/>
                        </a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
